<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
      <h1>Pig Latinizer!</h1>
      <h3>Enter your phrase:</h3>
    <form method="post" action="/">
    <textarea name="user_phrase"></textarea>
    <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>